<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="reg" connectionString="Data Source=localhost;Initial Catalog=technsl1_sunnyysm;user id=technsl1_sunnyysm; password=B6y7d*0t" providerName="System.Data.SqlClient" />
    <add name="reg1" connectionString="Data Source=localhost;Initial Catalog=technsl1_sunnyysm;user id=technsl1_sunnyysm; password=B6y7d*0t" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" tempDirectory="D:\Inetpub\vhosts\technsl.in\tmp" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <add value="home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>